<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>

  <% @restaurant.reviews.each do |review| %>

      <h3><%=review.id %></h3>

      <h3>
          Rating: <% review.rating.times do %>
            *
          <% end %>
      </h3>

      <p>
          <%= review.content %>
      </p>

  <% end %>

  <%= render '/reviews/form'%>



